@import "//fast.fonts.net/cssapi/d645cd83-c955-4277-a114-11f6324025d4.css";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Custom Site Styles */

/* ========== Base Styles ========== */

html {
  /*
    Use the text-size-adjust property
    to prevent automatically inflating
    text on orientation changes
    (portrait to landscape on a phone,
    for example):
  */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ie-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /*
    Major Third Modular Scale
    http://www.modularscale.com/?19&px&1.25
  */
  font-size: 1.1875em; /* 19 / 16px */
  line-height: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
  padding: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
  font-family: "Camphor W04", Verdana, Helvetica, Arial, sans-serif;
  color: #222;
  background: #EEE;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}
h3 {
  font-size: 1.25em; /* 23.75 / 19 = 1.25 */
  line-height: 1.5157894737em; /* 36 / 23.75 = 1.5157894737 */
}
h4 {
  font-size: 0.8em; /* 15.2px / 19px */
  line-height: 1.5789473684em; /* 24 / 15.2px = 1.5789473684 */
  padding-bottom: 0.7894736842em; /* 12 / 15.2 = 0.7894736842 */
  text-transform: uppercase;
}

p {
  padding-bottom: 1.2631578947em;
}

ul {
  list-style-type: square;
}

ol {
  counter-reset: enum;
}
ol, ul, li {
  padding-bottom: 0.6315789474em; /* 12 / 19 = 0.6315789474 */
}

ol ol,
ol ul,
ul ul,
ul ol {
  padding-top: 0.6315789474em; /* 12 / 19 = 0.6315789474 */
  padding-bottom: 0;
}

li ol,
li ul {
  padding-left: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
}

ol > li::before {
  counter-increment: enum;
  content: counter(enum) ". ";
  position: absolute;
  margin-left: -1.2631578947em; /* 24 / 19px = 1.2631578947 */
  font-weight: bold;
}

a {
  color: #A00;
}
b, strong {
  font-weight: bold;
}
cite, em, i {
  font-style: italic;
}
code {
  background: #CCC;
  color: #222;
  font-family: Menlo, Monaco, "Droid Sans Mono", Courier, "Courier New", monospace;
  font-size: 0.85em;
}
code a,
a code {
  color: #222;
}

header {
  padding-bottom: 1.2631578947em; /* 24 / 19px = 1.2631578947 */
}

header small {
  display: block;
}

/* Module */
.agenda > li::before {
  content: "";
}
.assignments > li,
#navigation li {
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  html {
    /* 72px / 600 = 0.12 */
    padding: 1.2631578947em 12%;
  }
}
